$gallery-swap: 1200px;
.snippet {
    width: 100%;
    padding: 10px;
    @media only screen and (min-width: 400px) {
        padding: 40px;
    }
    @media only screen and (min-width: 800px) {
        width: 50%;
    }
}
.process {
    @include flex(row, flex-start, stretch, wrap);
    background-color: $navy;
    h2 {
        color: $off-white;
    }
    p {
        color: $off-white;
    }
}
main {
//    padding-left: 5px;
//    padding-right: 5px;
    margin-bottom: 60px;
}
section {
    padding: 5px;
}
.overview {
    max-width: 600px;
    margin: auto;
}
.critique {
    background-color: $off-white;
    color: $navy;
}

* {
    box-sizing:border-box;
}
.inner.left {
    left: -100%;
}
.inner.centre {
    left: 0%;
}
.inner.right {
    left: 100%;
}
.inner-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    @include flex-d();
    
    li {
        margin: 10px;
        width: 40px;
        height: 40px;
        @include centre();
    }
    button {
        background: transparent;
        border: none;
        width: 90%;
        height: 90%;
        
        border-radius: 0;
        outline: none;
        border: 3px solid $off-white;
        transition: 0.3s;
    }
    li.active button {
        border: 3px solid $mustard;
        @include full-size();
    }
}
.hide {
    display: none !important;
}
.gallery {
    padding: 20px 5px;
    background-color: #363636;
    @include flex(row, space-around, center, wrap);
    position: relative;
    margin: 0;
    figcaption {
        width: 100%;
        color: $off-white;
        padding: 5px;
        order: 3;
        @media only screen and (min-width: $gallery-swap) {
            order: 2;
            width: 20vw;
        }
    }
}

.gallery-nav {
    display: none;
    @media only screen and (min-width: 600px) {
        @include centre();
        order: 4;
    }
}
.outer-wrapper {
    position: relative;
    @include centre();
}
.outer-wrapper.small {
    order: 2;
    width: 20vw;
    height: 10vw;
    min-width: 300px;
    min-height: 150px;
    margin-top: 20px;
    z-index: 2;
    .inner-wrapper {
        height: calc(7 / 8 * 100%);
        width: 70%;
    }
    .inner {
        height: 100%;
    }
    @media only screen and (min-width: $gallery-swap) {
        align-self: flex-end;
    }
}
.outer-wrapper.large {
    order: 1;
    max-width: 800px;
    max-height: 512px;
    width: 90vw;
    height: 57.6vw;
    z-index: 1;
    .inner-wrapper {
        width: 88%;
        height: 82%;
    }
    .inner {
        height: 90%;
    }
}
.inner-wrapper {
    position: relative;
    overflow: hidden;

}
.inner {
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.btn {
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    background-color: transparent;
    border: none;
}
.btn-previous {
    background-image: url(images/chevron-left.svg);
}
.btn-next {
    background-image: url(images/chevron-right.svg);
}
.border {
    position: absolute;
    @include full-size();
    top: 0px;
    left: 0px;
    z-index: 10;
    pointer-events: none;
}

.works-list {
   list-style: none;
    padding: 0;
    margin: 0;
    .work {
        width: 100%;
        height: 66.7vw;
        max-width: 450px;
        max-height: 300px;
        background-size: cover;
    }
    .work-1 {}
    .work-2 {}
    .work-3 {}
    .work-4 {}
    .work-5 {}
    a {
        @include full-size();
        @include centre();
        padding: 20%;
        text-decoration: none;
    }
    h2 {
        background: rgba(white, 0.7);
        @include full-size();
        @include centre();
        text-align: center;
    }
}