$gallery-swap: 1200px;
.snippet {
    width: 100%;
    padding: 10px;
    background-color: $navy;
    @media only screen and (min-width: 400px) {
        padding: 40px;
    }
    @media only screen and (min-width: 800px) {
        width: 50%;
    }
}
.process {
    @include flex(row, flex-start, stretch, wrap);
    h2 {
        color: $off-white;
    }
    p {
        color: $off-white;
    }
}
main {
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 60px;
}

.critique {
    background-color: $off-white;
    color: $navy;
}

* {
    box-sizing:border-box;
}
.inner.left {
    left: -100%;
}
.inner.centre {
    left: 0%;
}
.inner.right {
    left: 100%;
}
.inner-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    @include flex-d();
    
    li {
        padding: 20px;
        margin: 10px;
        max-width: 150px;
        border: 3px solid red;
    }
    li.active {
        border: 3px solid blue;
    }
}
.gallery {
    padding: 20px 5px;
    background-color: #363636;
    @include flex(row, space-around, center, wrap);
    border: 3px solid $off-white;
    position: relative;
}

.gallery-nav {
    display: none;
    @media only screen and (min-width: 600px) {
        @include centre();
    }
}
.outer-wrapper {
    position: relative;
    @include centre();
}
.outer-wrapper.small {
    width: 20vw;
    height: 10vw;
    min-width: 300px;
    min-height: 150px;
    margin-top: 20px;
    z-index: 2;
    .inner-wrapper {
        height: calc(7 / 8 * 100%);
        width: 70%;
    }
    .inner {
        height: 100%;
    }
    @media only screen and (min-width: $gallery-swap) {
        align-self: flex-end;
    }
}
.outer-wrapper.large {
    max-width: 800px;
    max-height: 512px;
    width: 90vw;
    height: 57.6vw;
    z-index: 1;
    .inner-wrapper {
        width: 88%;
        height: 82%;
    }
    .inner {
        height: 90%;
    }
}
.inner-wrapper {
    position: relative;
    overflow: hidden;

}
.inner {
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.btn {
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    background-color: transparent;
    border: none;
}
.btn-previous {
    background-image: url(images/chevron-left.svg);
}
.btn-next {
    background-image: url(images/chevron-right.svg);
}
.border {
    position: absolute;
    @include full-size();
    top: 0px;
    left: 0px;
    z-index: 10;
    pointer-events: none;
}