a {
	color: $color__link;

	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

.btn-link {
    a {
        display: block;
        @include full-size();
        max-width: 250px;
        padding: 10px;
        border: 3px double $mustard;
    }
}
.overview a {
    max-width: 100px;
}